@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

body {
  max-width: 120vh;
  background-color: hsl(0, 0%, 95%);
}

.cars {
  display: flex;
  flex-direction: row;
}

.sedan-card {
  background-color: hsl(31, 77%, 52%);
  padding-left: 36px;
  padding-right: 36px;

}

.suv-card {
  background-color: hsl(184, 100%, 22%);
  padding-left: 36px;
  padding-right: 36px;
}

.luxury-card {
  background-color: hsl(179, 100%, 13%);
  padding-left: 36px;
  padding-right: 36px;
}

h1 {
  font-family: 'Big Shoulders Display';
  font-size: 36px;
  color: hsl(0, 0%, 95%);
}

p {
  font: 'Lexend Deca, sans-sarif';
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.75);
  padding-right: 1.5rem;
  line-height: 1.6;
}

.car-img {
  padding-top: 2rem;
}

.sedan-card,
.luxury-card,
.suv-card {
  margin-top: 100px;
}

.sedan-card {
  margin-left: 50px;
}

.luxury-card {
  margin-right: 50px;
}

.button {
  font-family: 'Lexend Deca', monospace;
  background-color: hsl(0, 0%, 95%);
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 36px;
}

.sedan-btn {
  color: hsl(31, 77%, 52%);
}

.suv-btn {
  color: hsl(184, 100%, 22%);
}

.luxury-btn {
  color: hsl(179, 100%, 13%);
}

.btn-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}


@media only screen and (max-width: 800px) {
    .cars {
        display: flex;
        flex-direction: column;
      }
  }